:root {
    --light: hsl(0, 0%, 100%);
    --dark: hsl(213, 13%, 16%);
    --orange-theme-background-light: hsl(25, 100%, 95%);
    --orange-theme-background-dark: hsl(25, 100%, 80%);
    --orange-theme-color: hsl(20, 100%, 50%);
    --green-theme-background-light: hsl(131, 86%, 95%);
    --green-theme-background-dark: hsl(131, 86%, 80%);
    --green-theme-color: hsl(131, 86%, 25%);
    --blue-theme-background-light: hsl(208, 100%, 95%);
    --blue-theme-background-dark: hsl(208, 100%, 80%);
    --blue-theme-color: hsl(208, 100%, 30%);
}

.orange-theme-color__hover:hover {
    color: var(--orange-theme-color);
}

.green-theme-color__hover:hover {
    color: var(--green-theme-color);
}

.blue-theme-color__hover:hover {
    color: var(--blue-theme-color);
}