:root {
    --text-indent: 10rem;
}

.Resume {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Resume a {
    color: hsl(240, 100%, 50%);
}

@media screen and (min-width: 1400px) {
    .Resume {
        flex-direction: row;
        justify-content: space-between;
    }
}

.sections-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
}

.light .profile-column {
    color: hsl(0, 0%, 0%);
}

.dark .profile-column {
    color: hsl(0, 0%, 100%);
}

.resume-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

@media screen and (min-width: 1400px) {
    .resume-section {
        padding: 2rem;
    }
}

.education > h3, .education > p, .experience > h3, .experience > p, .skills > h3, .skills > p {
    margin: 0;
}

@media screen and (min-width: 1400px) {
    .education > h3, .education > p, .experience > h3, .experience > p, .skills > ul {
        margin-left: var(--text-indent);
    }
}

.skills-list {
    padding: 0rem 1rem;
}

@media screen and (min-width: 1400px) {
    .skills-list {
        padding: 0;
    }
}