:root {
    --text-indent: 10rem;
}

.Resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.Resume a {
    color: hsl(240, 100%, 50%);
}

@media screen and (min-width: 1400px) {
    .Resume {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.sections-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;
}

.profile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile-column > img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 5px black;
}

.profile-title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 70px;
}

.profile-title-wrapper img {
    width: 35px;
}

.profile-details > p {
    font-weight: 700;
}

.light .profile-column {
    color: hsl(0, 0%, 0%);
}

.dark .profile-column {
    color: hsl(0, 0%, 100%);
}

.resume-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

@media screen and (min-width: 1400px) {
    .resume-section {
        padding: 2rem;
    }
}

.education > h3, .education > p, .experience > h3, .experience > p, .skills > h3, .skills > p {
    margin: 0;
}

@media screen and (min-width: 1400px) {
    .education > h3, .education > p, .experience > h3, .experience > p, .skills > ul {
        margin-left: var(--text-indent);
    }
}

.skills-list {
    padding: 0rem 1rem;
}

@media screen and (min-width: 1400px) {
    .skills-list {
        padding: 0;
    }
}